.details-action::before {
  background-image: url(./img/preview-black-18dp.svg);
}

.edit-action::before {
  background-image: url(./img/edit-black-18dp.svg);
}

.delete-action::before {
  background-image: url(./img/delete-black-18dp.svg);
}
