.toolbar {
  width: 100%;
}

.category-name-edit {
  width: 500px;
}

.item-action-btn {
  min-width: 100px;
  max-width: 100px;
  position: relative;
  padding-left: 27px;
}

.item-action-btn.add-action {
  max-width: 200px;
  margin-left: 1em;
}

.item-action-btn + .item-action-btn {
  margin-left: 0.5em;
}

.item-action-btn::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 18px;
}

.add-action::before {
  background-image: url(./img/add_circle-black-18dp.svg);
}
